{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <p>
        <a href="{{ path('addUser') }}">Add user</a>
    </p>

    <table class="table">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.email | escape }}</td>
                <td>{{ user.name | escape }}</td>
                <td><a href="{{ path('editUser', {'id': user.id}) }}">Edit User</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
